.tile-wall {
	background: url("../images/wall.jpg");
	width: 50px;
	height: 50px;
}
.tile-space {
	background: #FFF;
	width: 50px;
	height: 50px;
}
.tile-goal {
	background: url("../images/goal.jpg");
	width: 50px;
	height: 50px;
}
.entity-player {
	background: url("../images/pirate.jpg");
	width: 50px;
	height: 50px;
}
.entity-block {
	background: url("../images/box.jpg");
	width: 50px;
	height: 50px;
}
.entity-block-goal {
	background: url("../images/boxComplete.jpg");
	width: 50px;
	height: 50px;
}
